<fieldset class="box">	
	<p>
		<legend>Feiertage URL:</legend>
		<input type="text"
	         name="settings[holiday_import_url]"
	         value="<%= settings['holiday_import_url'] %>"
	  >
	</p>
	<p>
		<legend>Proxy:</legend>
		<input type="text"
	         name="settings[proxy_url]"
	         value="<%= settings['proxy_url'] %>"
	  >
	</p>
	
</fieldset>